<a href="https://colab.research.google.com/github/biangomes/estudos/blob/master/%5Cdash-sigmoidal%5Cuber%5Cdash_sigmoidal_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import libs
import pandas as pd

In [2]:
df = pd.read_csv('uber-raw-data-sep14.csv', nrows=1000)

In [3]:
df.head()

          Date/Time      Lat      Lon    Base
0  9/1/2014 0:01:00  40.2201 -74.0021  B02512
1  9/1/2014 0:01:00  40.7500 -74.0027  B02512
2  9/1/2014 0:03:00  40.7559 -73.9864  B02512
3  9/1/2014 0:06:00  40.7450 -73.9889  B02512
4  9/1/2014 0:11:00  40.8145 -73.9444  B02512

In [5]:
# Renomeando as colunas para deixar todas minúsculas
df.rename(lambda x: str(x).lower(), axis="columns", inplace=True)

DATA_COLUMN = "date/time"
DATA_URL = "uber-raw-data-sep14.csv"

df.head()

          date/time      lat      lon    base
0  9/1/2014 0:01:00  40.2201 -74.0021  B02512
1  9/1/2014 0:01:00  40.7500 -74.0027  B02512
2  9/1/2014 0:03:00  40.7559 -73.9864  B02512
3  9/1/2014 0:06:00  40.7450 -73.9889  B02512
4  9/1/2014 0:11:00  40.8145 -73.9444  B02512

In [6]:
df.dtypes

date/time     object
lat          float64
lon          float64
base          object
dtype: object

In [7]:
import numpy as np

In [9]:
df["date/time"] = pd.to_datetime(df["date/time"])

In [11]:
# Criando um histograma só com as horas utilizando numpy
np.histogram(df["date/time"].dt.hour, bins=24, range=(0,24))[0]

"""
df['date/time'].dt.hour -> pega somente as horas de um obj. datetime


bins -> qtd. de barras, como queremos só as horas e um dia tem 24 horas, escolhe
        _mos bins = 24


range -> para pegar os 24 valores das 24 barras

[0] -> o resultado do código sem o [0] é uma tupla de arrays. O [0] indica que
       queremos pegar o primeiro array da tupla.
"""

"\ndf['date/time'].dt.hour -> pega somente as horas de um obj. datetime\n\n\nbins -> qtd. de barras, como queremos só as horas e um dia tem 24 horas, escolhe\n        _mos bins = 24\n\n\nrange -> para pegar os 24 valores das 24 barras\n\n[0] -> o resultado do código sem o [0] é uma tupla de arrays. O [0] indica que\n       queremos pegar o primeiro array da tupla.\n"